body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img1.jpg);
    background-size: initial;
    background-position-x: 50%;
    background-size: cover;
    background-position: center;
}


ul{
    float: right;
    list-style-type: none;
    margin-top:10px;
    margin-right: 10px;
    cursor: pointer;
    padding: 1px 2px;
    position: relative;
    top: -50px;
}

  
ul li{
    display: inline-block;
    font-size: 20px;
    padding: 0px 1px;
    cursor: pointer;
}
ul li a{
    text-decoration: none;
    color: white;
    padding 50px 0px 50px 0px;
    border: 1px solid #fff; 
    transition: 0.6s ease;
}
ul li a:hover{
    background-color:white;
    color: black;
    font-weight: bold;
}
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    text-align: center;
    color: red;
    font-size: 100px;
}
.anima{
    animation: colorchangeE-NOTES 1s infinite;
        }
        @keyframes colorchangeE-NOTES {
            from, to { color: hsl(324, 70%, 45%); }
            10%      { color: hsl(360, 65%, 45%); }
            20%      { color: hsl( 36, 80%, 45%); }
            30%      { color: hsl( 72, 75%, 35%); }
            40%      { color: hsl(108, 65%, 35%); }
            50%      { color: hsl(144, 75%, 35%); }
            60%      { color: hsl(180, 75%, 35%); }
            70%      { color: hsl(216, 60%, 45%); }
            80%      { color: hsl(252, 65%, 50%); }
            90%      { color: hsl(288, 60%, 40%); }
            100%     {color: white;}
}
.fron-page-text{
    position: absolute;
    font-size: 100px;
    color: white;
    top: 200px;
    color: white;
    font-family: 'Grenze', serif;
    padding: 25px;
    border-style: groove;
    border-radius: 100px;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));
    padding: 0 400px 0px 0px;
    border: transparent;
}
.anima{
    font-family: 'Grenze', serif;
    font-size: 150px;
}